body {
    font-family: sans-serif;
}

header {
    text-align: center;
}

.green {
    color: green;
}

.red {
    color: red;
}

#versioninfo {
    text-align: left;
    vertical-align: middle;
    position: absolute;
    font-size: 10px;
    color: grey;
}
